<ion-tabs>
  <!-- Añadimos la clase custom-tab-bar -->
  <ion-tab-bar slot="bottom" class="custom-tab-bar ion-no-border">

    <ion-tab-button tab="catalog">
      <ion-icon src="assets/icon/catalog.svg"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lists">
      <ion-icon src="assets/icon/lists.svg"></ion-icon>
      <ion-label>Listas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clans">
      <ion-icon src="assets/icon/clans.svg"></ion-icon>
      <ion-label>Clanes</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
