$bg-main: #2C2C2C;
$accent-color: #34A873;
$text-muted: #A3A3A3;

.custom-tab-bar {
  --background: #{$bg-main};
  background-color: #{$bg-main};
  border-top: 1px solid rgba(243, 244, 244, 0.1);
}

ion-tab-button {
  --background: #{$bg-main};
  background-color: #{$bg-main};

  --color: #{$text-muted};

  --color-selected: #{$accent-color};

  font-weight: 500;

  ion-icon {
    font-size: 24px;
    margin-bottom: 4px;
  }
}
