<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="clans" [routerLink]="['/clans']">
      <ion-icon name="people"></ion-icon>
      <ion-label>Clans</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="catalog" [routerLink]="['/catalog']">
      <ion-icon name="film"></ion-icon>
      <ion-label>Catalog</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lists" [routerLink]="['/lists']">
      <ion-icon name="list"></ion-icon>
      <ion-label>Lists</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
