/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

:root {
  --ion-font-family: 'Poppins', sans-serif;
}

.traiviu-custom-alert {

  --background: #2C2C2C;

  --backdrop-opacity: 0.7;

  h2.alert-title {
    color: #F3F4F4 !important;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
  }

  .alert-message {
    color: #A3A3A3 !important;
    text-align: center;
    font-size: 0.95rem;
  }

  .alert-input {
    background: #2C2C2C !important;
    border: 1px solid #34A873 !important;
    border-radius: 8px;
    color: #F3F4F4 !important;
    padding: 12px 15px !important;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;

    &::placeholder {
      color: #777 !important;
    }

    &:focus {
      border-color: #4df0a4 !important;
      box-shadow: 0 0 0 2px rgba(52, 168, 115, 0.2);
    }
  }

  .alert-button-group {
    padding: 10px;
    gap: 40px;
  }

  .alert-cancel-btn {
    color: #A3A3A3 !important;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  }

  .alert-create-btn {
    color: #34A873 !important;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
  }
}

.custom-popover {
  --background: #2C2C2C;
  --border-radius: 12px;
  --box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
  --width: 200px;

  .popover-content-bg {
    --background: #2C2C2C;
  }

  .popover-list {
    background: transparent;
    padding: 5px 0;

    ion-item {
      --background: transparent;
      --color: #F3F4F4;

      --background-hover: #404040;
      --background-hover-opacity: 1;

      --background-focused: #404040;
      --background-focused-opacity: 1;

      --background-activated: #404040;
      --background-activated-opacity: 1;

      --min-height: 48px;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 0.95rem;
      cursor: pointer;

      &:hover {
        --background: #404040;
      }

      .popover-icon {
        color: #34A873;
        font-size: 1.2rem;
        margin-right: 0px;
      }

      .popover-icon-danger {
        color: #ff4961;
        font-size: 1.2rem;
        margin-right: 0px;
      }
    }
  }
}
